<h1><%= @recipe.title %></h1>
<%= image_tag(@recipe.image) if @recipe.image.attached? %>
<h4>Ingredients: <%= @recipe.ingredients%></h4>
<p>Directions: <%= @recipe.instructions%></p>

<% if @recipe.user == current_user %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
